/* Put your CSS in this file. */

<<<<<<< HEAD
=======
img {
  max-width: 100%
}

<style>
/* regular css */
#header {
  position: fixed
.tabs {
  padding: 10px 2em
}

@media screen and (max-width: 500px) {
/* applies only if the screen is narrower than 500px */
  .tabs {
    padding: 3px 1em
  }
}
</style>

.header {
  background: url(header.png) 50% no-repeat;
  background-size: contain
}

input, textarea {
  max-width:100%
}

>>>>>>> 7f11961ee843d986324f60e4cd9c342ea5c7c4ef
body {
    background-color: 		#000000;
}

#board
{
    display: flex;
    /* width: 800px;
    height: 800px; */
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:flex-start;
    visibility: hidden;
    background-color: 	#B22222
}

/* Use the . because square is a class */
  .square {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;

    }
    main {
        float:            left;
        margin-right:     30px;
        width:            520px;
    }

    aside {
        background-color: 		#00FA9A;

        float:            right;
        width:            410px;
    }

    aside section {
        background-color: green;   // #ded29e
        margin:           1em 0px;
        padding:          0 0.5em;
    }


    #scoreboard{
      color: white;
      font-family: "Arial Black", Gadget, sans-serif;
      font-size: large;
    }

    #gameSettings{
      color: white;
      font-family: "Arial Black", Gadget, sans-serif;
      font-size: large;
    }
